<!DOCTYPE html>
<html lang="en">

        <head>
            <meta charset="UTF-8">
            <link href="../static/css/style_dashboard.css" rel="stylesheet" type="text/css">
            <script src="../static/JS/jquery/jquery.min.js" charset="utf-8"></script>

            <title>Get the signals.</title>
        </head>

<body>
        <div id="side-bar">
            <div class="toggle-btn" onclick="toggleSidebar(this)">
              <span></span>
              <span></span>
              <span></span>
            </div>  
            <div class="menu">
              
              <div class="item">
                <a class="sub-btn"><i class="fas fa-users-cog"></i>Admin<i class="fas fa-arrow-down dropdown"></i></a>
                      <div class="sub-menu">
                          <a href="{{ url_for('investInfra') }}" class="sub-item">Investment Infrastructure</a>    
                          <a href="{{ url_for('investInfra') }}" class="sub-item">Data Structures</a>    
                      </div>
            </div>
              <div class="item"><a href="{{ url_for('macroView') }}"><i class="fas fa-globe"></i>Macro View</a></div>
              

              <div class="item">
                  <a class="sub-btn"><i class="fas fa-braille"></i>Data<i class="fas fa-arrow-down dropdown"></i></a>
                        <div class="sub-menu">
                            <a href="{{ url_for('technicals') }}" class="sub-item">Technicals</a>    
                            <a href="{{ url_for('ownership') }}" class="sub-item">Ownership</a>    
                        </div>
              </div>
              <div class="item">
                <a class="sub-btn"><i class="fas fa-broadcast-tower"></i>Signals<i class="fas fa-arrow-down dropdown"></i></a>
                      <div class="sub-menu">
                          <a href="{{ url_for('table') }}"></i>Reversal</a>
                          <a href="{{ url_for('table') }}"></i>Short</a>
                      </div>
              </div>
              <div class="item"><a href="{{ url_for('portfolios') }}"><i class="fas fa-wallet"></i>Portfolios <font color="#32CD32">(to come)</font></a></div>
              <div class="item"><a href="{{ url_for('ideas') }}"><i class="fas fa-lightbulb"></i>Trading Ideas</font></a></div>
              <div class="item"><a href="#"><i class="fas fa-book"></i>Buffet <font color="#32CD32">(to come)</font></a></div>
              <div class="item"><a href="#"><i class="fas fa-chart-line"></i>Options Monitoring</a></div>
              <div class="item"><a href="/crypto"><i class="fab fa-bitcoin"></i>Crypto</a></div>
              <div class="item">
                <a class="sub-btn"><i class="fas fa-square-root-alt"></i>Quantitative finance<i class="fas fa-arrow-down dropdown"></i></a>
                      <div class="sub-menu">
                          <a href="{{ url_for('brownian') }}"></i>Brownian Motion</a>
                      </div>
              </div>

            </div> <!-- MENU -->
          </div>
        
          <script type="text/javascript" src="../static/JS/dashboard.js"></script>

{% block content %}
{% endblock %}
</body>

</html>
