
{%extends "base.html"%}
{%block content%}

<head>

<link href="../static/css/style_blockchain_infra.css" rel="stylesheet" type="text/css">

</head>

<body id="Blockchain_infra_page" style="background-color: #f5f6f8;">

<h3>Ideas</h3>


<div class="row">
    <div class="col-sm-9">
        <div class="card shadow">
        <div class="card">
        <div class="card-body">

            
            <h5 class="card-title"> <b>Infra</b></h5>

    
    </br>
    a crossing little time after one
    </div> <!-- Card body-->
</div> <!-- Card body-->



    </div> <!-- COL -->
</div> <!-- ROW -->

</body>


{% include "base_dashboard.html" %}
{%endblock%}