{%extends "base.html"%}
{%block content%}

<!DOCTYPE html>
<html>

<head>

<link href="../static/css/style_brownian.css" rel="stylesheet" type="text/css">

</head>

<body id="Brownian_page" style="background-color: #f5f6f8;">

    <div class="card shadow">
        <div class="card">
        <div class="card-body">

            <h5 class="card-title"> Simulating stock prices in Python using Geometric Brownian Motion</h5>

            https://towardsdatascience.com/simulating-stock-prices-in-python-using-geometric-brownian-motion-8dfd6e8c6b18

    </div> <!-- Card body-->
</div> <!-- Card body-->

</body>



</html> 
{% include "base_dashboard.html" %}
{%endblock%}



