{%extends "base.html"%}
{%block content%}

<!DOCTYPE html>
<html>

<head>

<link href="../static/css/style_crypto.css" rel="stylesheet" type="text/css">

</head>

<body id="Crypto_page" style="background-color: #f5f6f8;">

<h3>Blockchain project initiation</h3>


<div class="row">
    <div class="col-sm-9">
        <div class="card shadow">
        <div class="card">
        <div class="card-body">

            <h5 class="card-title"> <b>My take</b></h5>


        The first question that lead me to start this project is the following: </br>
        
        <b>What is that diverges from the traditionnal system, and what is, in terms of code, that allows
        this conceptual shift to happen?</b>

    </br>
</br>

    <b>Intuitions: </b>
    </br>

        One can change a script, but once a P2P system of <b>mutual validation</b> requirements is enabled, the script
        becomes secondary. It is about the running program and the autonomy of the system.
        Blockchain is not about a code, its about an autonomous process the code has started.
        Blockchain is hence first about the idea of autonomous system as opposed to a man-managed 
        bureaucracy.

        We all know how the simple idea of bureaucracy is repulsive. This is a simple reason enough to make us
        bnelieve in the inexorable development of blockchains as the new engine of structures that make an intense 
        usage of contracts, lawyers, etc.

    </br>
        Now, considering this fundamental idea of autonomy as opposed to man-managed organizations (bureaucracies),
        the question is -  from a technical standpoint - how does the interface between the autonomous system and humans present itself?

    </br>
    </br>

    <h3>Man-managed organizations versus self-adjusting system: </h3>

    </br>
       The <b> Dynamic difficulty and mine rate </b> participate to the self-adjusting nature of the system

    </br>
    </br>

    <h4>The reasons of my own personnal interests regarding blockchain: </h4>
    <ul style="margin-inline-start: 35px;">
        <li> <b>The fact that a new system can revolutionize such a fundamental societal element as 
            bureaucracy fascinates me the most.</b></li>
        <li> Another fascinating point - by anticipation - is that programmers would be kind of societal architects.
            Even more than today.
            While blockchains could be the new engine of bureaucracy, and omnipresent, they would be black-boxes for the 
            average citizen. It would reinforce the <b> cast of experts </b> effect. </br>
            This movement also goes hand in hand with the automatisation movement, since many control and validation jobs could disapear in 
            the bureaucratic field.
        </li>

        <li>
            <b>Privately initiated currencies are prone to thrive, because the system from which they would emerge would be 
            fundamentally better engineered and less prone to temporary political tantrums.</b></br>
            
            It has been many years that I think that the private sector attracks the most talented people </br>
            For two reasons mainly:
            
            <ul style="margin-inline-start: 35px;">
                <li>The private sector offers a better salary for talented people, hence attracting them more</li>
                <li>Smart minds prefer to thrive in freer and more innovative ecosystems</li>
                <li>The public sector attracks people profiles who know how to repeat their lesson well instead of entrepreneurs</li>
            </ul>

        </li>
        <li> <b>Externalization of trust (neither the governement, neither the monolithic platforms from the so-called "platform economy").</b> </br>
            On <i>b1.com</i>, we can read the following sentence: "Let's invest in a world built on integrity."
            "Our vision of the future is a world that's trustworthy and fair by design."
            The idea of virtuous circle comes often back.
            We externalized the virtue to the State during the past century.
            I feel like we want to externalize trust and virtue to self-organiying systems.
        </li>
    </ul>


    Blockchain can act as a system to incentivize users to share network bandwidth, storage and hence
    contribute to an overall system that will allow lower operational costs than the ones that are sustained through
    more monolothic infrastructures.
    Giving the power to hold pieces of network, computing, or "infrastructure" we could more broadly
    say.

    <b> Resources:</b>
</br>
    
    https://hackernoon.com/decentralized-uber-heres-how-i-built-it-with-statusim-waku-and-vuejs?source=rss </br>
    https://status.im/

    <b>Historic perspectives</b> </br></br>
    <ul style="margin-inline-start: 35px;">
        <li> The Denationalization of Money - Hayek </li>
        <li> Hayek and the cryptocurrency revolution - David Sanz Bas</li>
    </ul>


    </div> <!-- Card body-->
</div> <!-- Card body-->


    </div> <!-- COL -->
</div> <!-- ROW -->

</body>



</html> 
{% include "base_dashboard.html" %}
{%endblock%}



