
{%extends "base.html"%}
{%block content%}

<head>

<link href="../static/css/style_crypto.css" rel="stylesheet" type="text/css">

</head>

<body id="Crypto_page" style="background-color: #f5f6f8;">

<h3>Crypto</h3>


<div class="row">
    <div class="col-sm-9">
        <div class="card shadow">
        <div class="card">
        <div class="card-body">

            
            <h5 class="card-title"> <b>Thinking</b></h5>


        </br>

        
        What is that diverges from the traditionnal system, and what is, in terms of code, that allows
        this conceptual shift to be
    </div> <!-- Card body-->
</div> <!-- Card body-->



    </div> <!-- COL -->
</div> <!-- ROW -->

</body>


{% include "base_dashboard.html" %}
{%endblock%}