
{%extends "base.html"%}
{%block content%}

<head>

<link href="../static/css/style_ideas.css" rel="stylesheet" type="text/css">

</head>

<body id="Ideas_page" style="background-color: #f5f6f8;">

<h3>Ideas</h3>


<div class="row">
    <div class="col-sm-9">
        <div class="card shadow">
        <div class="card">
        <div class="card-body">

            
            <h5 class="card-title"> <b>Companies</b></h5>

        https://www.youtube.com/watch?v=lv4jdh5tjm8&ab_channel=ConorBailey


        https://kaabar-sofien.medium.com/coding-the-volatility-adjusted-rsi-in-tradingview-eadb9745756e
        </br>
        Financial articles folder --> Private and sharable
    
    </br>
    a crossing little time after one
    </div> <!-- Card body-->
</div> <!-- Card body-->



    </div> <!-- COL -->
</div> <!-- ROW -->

</body>


{% include "base_dashboard.html" %}
{%endblock%}