
{%extends "base.html"%}
{%block content%}

<head>

<link href="../static/css/style_ideas.css" rel="stylesheet" type="text/css">

</head>

<body id="Ideas_page" style="background-color: #f3f6fd;">

<h3>Ideas</h3>


<div class="row">
    <div class="col-sm-9">
        <div class="card shadow">
        <div class="card-header">
            Title
        </div>
        <div class="card-body">
        https://www.youtube.com/watch?v=lv4jdh5tjm8&ab_channel=ConorBailey
        </div>
        </div>
    </div>

</body>


{% include "base_dashboard.html" %}
{%endblock%}