{%extends "base.html"%}
{%block content%}

<head>
  <title>GTS-Table</title>
  
  <!-- DATA TABLE-->
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js" defer></script>
  <link href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">
  <!-- DATA TABLE END-->

  <link href="../static/css/style_macroView.css" rel="stylesheet" type="text/css">
  <script src="../static/JS/macro.js" defer></script>
  
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js" crossorigin="anonymous"></script>
 
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body id="macroView_page" style="background-color: #F9FAFE;">

  <h3>Stock market overview</h3>

  <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
    <button type="button" class="btn  btn-outline-primary" onclick="fetchSectorEvolsJsonData('Perf_1')">1 Day Performance</button>
    <button type="button" class="btn  btn-outline-primary" onclick="fetchSectorEvolsJsonData('Perf_5')">1 Week Performance</button>
  <div class="btn-group" role="group">
      <button id="btnGroupDrop1" type="button" class="btn  btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        Other Intervals
      </button>
      <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <li><a class="dropdown-item" onclick="fetchSectorEvolsJsonData('Perf_30')" style="cursor: pointer;">1 Month Performance</a></li>
        <li><a class="dropdown-item" onclick="fetchSectorEvolsJsonData('Perf_90')" style="cursor: pointer;">3 Months Performance</a></li>
        <li><a class="dropdown-item" onclick="fetchSectorEvolsJsonData('Perf_180')" style="cursor: pointer;">6 Months Performance</a></li>
        <li><a class="dropdown-item" onclick="fetchSectorEvolsJsonData('Perf_360')" style="cursor: pointer;">1 Year Performance</a></li>
      </ul>
    </div>
  </div>
</br>
</br>


<div class="row" style="max-height: 10%;">
  <div class="col">

    <div class="card shadow">
      <button class = "collapsible" style="border-color: 0; background-image: linear-gradient(to bottom right,#80979b, #97c1fa48);">
        <b>Performance by industry (average made out of 5560 stocks)</b></button>
      <div class="content">
        <div class="card-body">
            <div id="spinner"></div>
            <div id="sectorEvolsTreeMap""></div>
        </div>  <!--BODY-->
        <div class="card-footer" style="background-color: white;">
          Last update: 
        </div><!--FOOTER-->
      </div>  <!--CONTENT -->
    </div> <!--CARD 1-->
  </div> <!-- COL -->

  <div class="col">

    <div class="card shadow">
      <button class = "collapsible" style="border-color: 0; background-image: linear-gradient(to bottom right,#80979b, #97c1fa48);">
        <b>Performance by sector</b></button>
      <div class="content">
        <div class="card-body">

          <table id="example" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Office</th>
                    <th>Age</th>
                    <th>Start date</th>
                    <th>Salary</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Colleen Hurst</td>
                    <td>Javascript Developer</td>
                    <td>San Francisco</td>
                    <td>39</td>
                    <td>2009/09/15</td>
                    <td>$205,500</td>
                </tr>
                <tr>
                    <td>Sonya Frost</td>
                    <td>Software Engineer</td>
                    <td>Edinburgh</td>
                    <td>23</td>
                    <td>2008/12/13</td>
                    <td>$103,600</td>
                </tr>
                <tr>
                    <td>Paul Byrd</td>
                    <td>Chief Financial Officer (CFO)</td>
                    <td>New York</td>
                    <td>64</td>
                    <td>2010/06/09</td>
                    <td>$725,000</td>
                </tr>
                <tr>
                    <td>Gloria Little</td>
                    <td>Systems Administrator</td>
                    <td>New York</td>
                    <td>59</td>
                    <td>2009/04/10</td>
                    <td>$237,500</td>
                </tr>
                <tr>
                    <td>Bradley Greer</td>
                    <td>Software Engineer</td>
                    <td>London</td>
                    <td>41</td>
                    <td>2012/10/13</td>
                    <td>$132,000</td>
                </tr>
                <tr>
                    <td>Dai Rios</td>
                    <td>Personnel Lead</td>
                    <td>Edinburgh</td>
                    <td>35</td>
                    <td>2012/09/26</td>
                    <td>$217,500</td>
                </tr>
                <tr>
                    <td>Angelica Ramos</td>
                    <td>Chief Executive Officer (CEO)</td>
                    <td>London</td>
                    <td>47</td>
                    <td>2009/10/09</td>
                    <td>$1,200,000</td>
                </tr>
                <tr>
                    <td>Gavin Joyce</td>
                    <td>Developer</td>
                    <td>Edinburgh</td>
                    <td>42</td>
                    <td>2010/12/22</td>
                    <td>$92,575</td>
                </tr>
                <tr>
                    <td>Jennifer Chang</td>
                    <td>Regional Director</td>
                    <td>Singapore</td>
                    <td>28</td>
                    <td>2010/11/14</td>
                    <td>$357,650</td>
                </tr>
                <tr>
                    <td>Brenden Wagner</td>
                    <td>Software Engineer</td>
                    <td>San Francisco</td>
                    <td>28</td>
                    <td>2011/06/07</td>
                    <td>$206,850</td>
                </tr>
                <tr>
                    <td>Fiona Green</td>
                    <td>Chief Operating Officer (COO)</td>
                    <td>San Francisco</td>
                    <td>48</td>
                    <td>2010/03/11</td>
                    <td>$850,000</td>
                </tr>
                <tr>
                    <td>Shou Itou</td>
                    <td>Regional Marketing</td>
                    <td>Tokyo</td>
                    <td>20</td>
                    <td>2011/08/14</td>
                    <td>$163,000</td>
                </tr>
                <tr>
                    <td>Michelle House</td>
                    <td>Integration Specialist</td>
                    <td>Sydney</td>
                    <td>37</td>
                    <td>2011/06/02</td>
                    <td>$95,400</td>
                </tr>
                <tr>
                    <td>Suki Burks</td>
                    <td>Developer</td>
                    <td>London</td>
                    <td>53</td>
                    <td>2009/10/22</td>
                    <td>$114,500</td>
                </tr>
                <tr>
                    <td>Prescott Bartlett</td>
                    <td>Technical Author</td>
                    <td>London</td>
                    <td>27</td>
                    <td>2011/05/07</td>
                    <td>$145,000</td>
                </tr>
                <tr>
                    <td>Gavin Cortez</td>
                    <td>Team Leader</td>
                    <td>San Francisco</td>
                    <td>22</td>
                    <td>2008/10/26</td>
                    <td>$235,500</td>
                </tr>
                <tr>
                    <td>Martena Mccray</td>
                    <td>Post-Sales support</td>
                    <td>Edinburgh</td>
                    <td>46</td>
                    <td>2011/03/09</td>
                    <td>$324,050</td>
                </tr>
                <tr>
                    <td>Unity Butler</td>
                    <td>Marketing Designer</td>
                    <td>San Francisco</td>
                    <td>47</td>
                    <td>2009/12/09</td>
                    <td>$85,675</td>
                </tr>
                <tr>
                    <td>Howard Hatfield</td>
                    <td>Office Manager</td>
                    <td>San Francisco</td>
                    <td>51</td>
                    <td>2008/12/16</td>
                    <td>$164,500</td>
                </tr>
                <tr>
                    <td>Hope Fuentes</td>
                    <td>Secretary</td>
                    <td>San Francisco</td>
                    <td>41</td>
                    <td>2010/02/12</td>
                    <td>$109,850</td>
                </tr>
                <tr>
                    <td>Vivian Harrell</td>
                    <td>Financial Controller</td>
                    <td>San Francisco</td>
                    <td>62</td>
                    <td>2009/02/14</td>
                    <td>$452,500</td>
                </tr>
                <tr>
                    <td>Timothy Mooney</td>
                    <td>Office Manager</td>
                    <td>London</td>
                    <td>37</td>
                    <td>2008/12/11</td>
                    <td>$136,200</td>
                </tr>
                <tr>
                    <td>Jackson Bradshaw</td>
                    <td>Director</td>
                    <td>New York</td>
                    <td>65</td>
                    <td>2008/09/26</td>
                    <td>$645,750</td>
                </tr>
                <tr>
                    <td>Olivia Liang</td>
                    <td>Support Engineer</td>
                    <td>Singapore</td>
                    <td>64</td>
                    <td>2011/02/03</td>
                    <td>$234,500</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Office</th>
                    <th>Age</th>
                    <th>Start date</th>
                    <th>Salary</th>
                </tr>
            </tfoot>
        </table>

        </div>  <!--BODY-->
        <div class="card-footer" style="background-color: white;">
          Last update: 
        </div><!--FOOTER-->
      </div>  <!--CONTENT -->
    </div> <!--CARD -->
  </div> <!-- COL -->

</div> <!--ROW-->


</br>
  <h3>Macro economic drivers</h3>


  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">

        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div> <!--BODY-->
      </div><!--CARD-->
      </div>

    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">

        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">

        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>


    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">

        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>

  </div> <!--ROW-->


</br>

  <h3>Personnal reflexions & external wisdom</h3>

    <div class="card mb-3 shadow bg-white rounded">
      <div class="card-header">
      Picked articles 
      </div>
    <div class="card-body">

    <h5>Intrinsic value <i>versus</i> competitive race towards governance control</h5>
    
    <p>

    One shouldn't see the price of a stock as a representation of any "intrinsic value", but rather as a reflection of a financial fight for governance control.
    When you think about it, it makes sense, what is a stock? It's an aggregation of shares. What are stocks? They are securities that convey ownership a corporation. 
    They bring us to the question of access to control at the end of the end.
    Retail investors sometimes don't see that, but I think that big financial insitutions never forget that. No wonder that value investors under-perform compared to 
    technical analysts that always integrated the strategic and psychological dimensions of the markets into their analysis.  </br>
    The hype effect is something secondary. <b>One should therefore catch massive institutional rushes before retail traders rushes.</b>
  </br>
  I am not saying that Intrinsic value makes no sense. I simply say that it makes (more) sense for companies for which the tension for governance access is not so competitive.
  </br>
</br>
<h5>Reading Tesla's valuation in the light of Amazon's valuation</h5>
<hr>

  "<i>When Amazon was in this stage of their growth going from sort of a billion dollars up to around 25 billion or so, it took  Amazon 10 years to do that.
  Tesla's actually donne that in 6, so they've grown it to 52% compound annual growth rate versus Amazon at the stage was growing about 30%.
  So there's a reason that the market is paying that premium to Tesla. Tesla is positioning itself to address probably the largest total addressable market that we've ever seen
  a business go after. We've got the automotive market, the energy market. We've got as Tesla starts to develop their autonomous driving package and continue to roll that out.
  We've got obviously companies like Uber that Tesla would be in that market as well. We can think about things suchs as logistics once the Tesla semi comes on board.</i>"
</br>

</br>
  
  <b>Source:</b> https://www.thestreet.com/investing/tesla-gains-as-rbc-bear-admits-he-was-completely-wrong
  </p>

</br>

<div class="row">


      <div class="col">

      <h3> We May Not Be in a Bubble (Reddit article)</h3>
      <p>
      I'm seeing a lot of posts comparing this to the 2000 dot-com bubble. Here's a breakdown of why we're likely not anywhere close to 2000 levels of craziness.
    </br>
  </br>

      <b>First:</b> During the dot-com era, the Nasdaq Composite's price-to-earnings valuation ran up as high as 200. By comparison, the index's P/E today is a relatively tame 28, 
      only modestly higher from 23 at the end of 2019.
    </br>
    </br>

    <b>Second:</b> Interest rates were a very attractive 6% which provided a strong alternative to stocks. 
      No such outlet exists today unless you trust bitcoin, or want to invest in paper gold.
    </br>
  </br>

      <b>Third:</b> Much of the value gains we're seeing in the market can be tied directly to the fact that people who invest are making similar or better money this year, 
      and spending significantly less causing them to save more and invest more:
      </br>
      https://www.nytimes.com/2021/01/01/upshot/why-markets-boomed-2020.html
    </br>
  </br>

  <b>Fourth:</b> The rest of the growth can largely be attributed to increased liquidity from all of the money printing. 
      Stocks tend to mirror an increase in the money supply with their value making them a great hedge against inflation. 
      The valuations of the 2000s weren't backstopped by QE or increased savings, making them much shakier.
    </br>
  </br>

      <b>Fifth:</b> The money printing will likely go on for a while. People mistakenly assume we're printing against our 22T dollar economy when we're really printing against 
      the 80-100T global economy for which are the reserve currency. A weak dollar benefits the global economy, and benefits us because we are the trading floor for the global economy.

      This is a long but very illuminating read on why QE is necessary and actually helpful:
      </br>
    </br>

      https://www.lynalden.com/fraying-petrodollar-system/
    </br>
    </br>

      <b>My Take:</b> There are a few stocks that are out of control with their valuations (Hi TSLA!), and a few sectors that are overvalued, 
      but overall the market looks to be on sturdy ground with the increased savings, and the increased liquidity. 
      There will be peaks and valleys, but I think there's a lot of room to grow, especially once the vaccine is widespread.
      </br>
  </br>

      <b>Source:</b> https://www.reddit.com/r/investing/comments/kpeffw/reasons_we_may_not_be_in_a_bubble/
    </br>

    </p>
    </div>

    <div class="col">
<!--       <div class="d-flex flex-row row-hl">
 -->
      <img src="/static/fin.jpg" alt="fin" width="650" height="830">
<!--       </div>
 -->    </div>

  </div>
    </div><!--CARD BODY-->

    <script>
      let coll = document.getElementsByClassName("collapsible");
      let i = 0;
    
      window.onload = ()=>{
        let iniColl = document.querySelectorAll(".collapsible");
        iniColl.forEach(function(c){
          c.classList.add("active");
          let iniCont = c.nextElementSibling;
          if (iniCont.style.maxHeight){
            iniCont.style.maxHeight = null;
          } else {
            iniCont.style.maxHeight = iniCont.scrollHeight + "px";
          } 
        });
      };
    
      for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
          this.classList.toggle("active");
          var content = this.nextElementSibling;
          if (content.style.maxHeight){
            content.style.maxHeight = null;
          } else {
            content.style.maxHeight = content.scrollHeight + "px";
          } 
        });
        }

        let opts = {
                  lines: 8,
                  length: 13,
                  width: 3,
                  radius: 13,
                  scale: 0.8,
                  corners: 1,
                  opacity: 0.25,
                  rotate: 0,
                  direction: 1,
                  color: '#000000', // CSS color or array of colors
                  speed: 1,
                  trail: 60,
                  fps: 25,
                  zIndex: 2e9,
                  className: 'spinner',
                  top: '50%',
                  left: '50%',
                  shadow: false,
                  hwaccel: false,
                  position: 'absolute',
                  },
          target = document.getElementById('spinner'),
          spinner = new Spinner(opts).spin(target);

    </script>

</body>
{% include "base_dashboard.html" %}

{%endblock%}

