{%extends "base.html"%}
{%block content%}

<head>
  <link href="../static/css/style_investInfra.css" rel="stylesheet" type="text/css">
  <title>Infrastructure Health</title>
</head>

<body id="investInfra_page" style="background-color: #F9FAFE;">

<h3>A methodic investment infrastructure</h3>

  
<div class="card mb-3 shadow bg-white rounded">


  <div class="card-header">
    Architecture & Data Flow
  </div>


  <div class="img">
    <img src="../static/signal_flow.svg" width="1400" height="1100">
  </div>


</div>

  <h3>Strategy testing</h3>
  </br>
  <h5><strong>Multiple filters for one single final convergence testing: </strong></h5>
  </br>
  <ul>
    <li>Moving averages crossing + Strong Aroon</li>
    <li>Options movement + weighted call/put ratio</li>
    <li>Convergence</li>
  </ul>
</body>


{% include "base_dashboard.html" %}

{%endblock%}