{%extends "base.html"%}
{%block content%}

<head>
  <link href="../static/css/style_portfolios.css" rel="stylesheet" type="text/css">
  <title>FP-Table</title>
  <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0"/>

</head>

<body id="Portfolios_page">*





  <div class="row">
    <div class="col-sm-9">
        <div class="card shadow">
        <div class="card-header">
            Title
        </div>
        <div class="card-body">
        </br>
        "Beating the market"<=> Getting a return that is superioir than the overral incease of liquidity supply.
        
        Structure of portfolios table:
        -No
        -Ticker
        -Company
        -Price
        -Change%
        -Volume
        -Transaction (buy, sell)
        -Date
        -Shares
        -Cost
        -Market Value
        -Gain$
        -Gain%
        -Change$        </div>
    </div> <!-- COL -->
</div> <!-- ROW -->






</body>
{% include "base_dashboard.html" %}

{%endblock%}
